# Power BI Semantic Model Connection (Local)

Connect to Power BI Semantic Models from a **local Python environment** using the REST API.

## Prerequisites
1. **Azure CLI authentication**: Run `az login` before starting
2. **Power BI Premium, PPU, or Fabric capacity**: Required for executing DAX queries
3. **Workspace access**: You need at least read access to the workspace and semantic model

> **Note**: The `semantic-link` library's XMLA-based functions (`read_table`, `list_tables`) only work inside Fabric notebooks. This notebook uses the REST API which works locally.

In [1]:
import pandas as pd
import requests
import json
from azure.identity import DefaultAzureCredential, DeviceCodeCredential
from azure.core.exceptions import ClientAuthenticationError

In [2]:
# Authenticate to Power BI
try:
    credential = DefaultAzureCredential()
    token = credential.get_token("https://analysis.windows.net/powerbi/api/.default")
    print("‚úì Authenticated using DefaultAzureCredential")
except ClientAuthenticationError:
    print("DefaultAzureCredential failed. Using DeviceCodeCredential...")
    credential = DeviceCodeCredential()
    token = credential.get_token("https://analysis.windows.net/powerbi/api/.default")
    print("‚úì Authenticated using DeviceCodeCredential")

‚úì Authenticated using DefaultAzureCredential

## Power BI REST API Helper Class

A reusable class for interacting with Power BI semantic models from local Python.

In [10]:
from powerbi_client import PowerBIClient

# Initialize the client
pbi = PowerBIClient(credential)
print("‚úì PowerBIClient initialized")

‚úì PowerBIClient initialized

## 1. List Workspaces and Datasets

In [4]:
# List workspaces
df_workspaces = pbi.list_workspaces()
print(f"Found {len(df_workspaces)} workspaces")
display(df_workspaces[["name", "id", "isOnDedicatedCapacity"]].head(10))

Found 1 workspaces

,name,id,isOnDedicatedCapacity
0,perry-pbi-demo-workspace,52cb91e1-0aef-4d50-98b7-b65b748ed997,True

In [5]:
# Configuration - set your workspace and dataset names
WORKSPACE_NAME = "perry-pbi-demo-workspace"
DATASET_NAME = "Customer Profitability Sample"

# Check if workspace is on Premium capacity
if pbi.is_premium(WORKSPACE_NAME):
    print(f"‚úì Workspace '{WORKSPACE_NAME}' is on Premium/Fabric capacity")
else:
    print(f"‚úó Workspace '{WORKSPACE_NAME}' is NOT on Premium capacity - DAX queries will fail!")

# List datasets in workspace
df_datasets = pbi.list_datasets(WORKSPACE_NAME)
print(f"\nDatasets in '{WORKSPACE_NAME}':")
display(df_datasets[["name", "id", "configuredBy"]])

‚úì Workspace 'perry-pbi-demo-workspace' is on Premium/Fabric capacity

Datasets in 'perry-pbi-demo-workspace':

,name,id,configuredBy
0,Customer Profitability Sample,a99cf490-f23d-4dea-8dc2-399c6c8ffc40,blaineperry@microsoft.com

## Describe Dataset - Get Full Schema

In [6]:
# Test describe_dataset method
result = pbi.describe_dataset(WORKSPACE_NAME, DATASET_NAME)
print(f"Found {len(result['tables'])} tables\n")
print("=" * 60)
for table in result['tables']:
    print(f"\nüìä {table['name']} ({len(table['columns'])} columns)")
    for col in table['columns']:
        card = f"({col['cardinality']} unique)" if col.get('cardinality') else ""
        dtype = f"[{col.get('dataType', '?')}]"
        print(f"   ‚îî‚îÄ {col['name']} {dtype} {card}")

print("\n" + "=" * 60)
print("\nüîó Inferred Relationships:")
for rel in result['relationships']:
    print(f"   {rel['keyColumn']}: {' <-> '.join(rel['tables'])}")

print("\n" + "=" * 60)
print("\nüìù LLM Context (first 2000 chars):")
print(result['llm_context'][:2000])

Found 9 tables

============================================================

üìä Fact (13 columns)
   ‚îî‚îÄ Customer Key [Number] (90 unique)
   ‚îî‚îÄ Product Key [Text] (7 unique)
   ‚îî‚îÄ BU Key [Number] (26 unique)
   ‚îî‚îÄ Scenario Key [Number] (2 unique)
   ‚îî‚îÄ Revenue [Number] (9805 unique)
   ‚îî‚îÄ Material Costs [Number] (5 unique)
   ‚îî‚îÄ Labor Costs Variable [Number] (2250 unique)
   ‚îî‚îÄ Taxes [Unknown] (5 unique)
   ‚îî‚îÄ Rev for Exp Travel [Number] (4240 unique)
   ‚îî‚îÄ Travel Expenses [Number] (4286 unique)
   ‚îî‚îÄ Cost Third Party [Number] (3458 unique)
   ‚îî‚îÄ Subscription Revenue [Number] (9 unique)
   ‚îî‚îÄ YearPeriod [Text] (16 unique)

üìä BU (4 columns)
   ‚îî‚îÄ BU Key [Number] (164 unique)
   ‚îî‚îÄ BU [Text] (37 unique)
   ‚îî‚îÄ Division [Text] (3 unique)
   ‚îî‚îÄ Executive_id [Number] (8 unique)

üìä Calendar (7 columns)
   ‚îî‚îÄ YearPeriod [Text] (84 unique)
   ‚îî‚îÄ Year [Number] (7 unique)
   ‚îî‚îÄ Period [Text] (12 unique)
   ‚îî‚îÄ Date [DateTime] (84 unique)
   ‚îî‚îÄ Month [Text] (12 unique)
   ‚îî‚îÄ QtrID [Text] (28 unique)
   ‚îî‚îÄ Qtr [Text] (4 unique)

üìä Scenario (2 columns)
   ‚îî‚îÄ Scenario Key [Number] (2 unique)
   ‚îî‚îÄ Scenario [Text] (2 unique)

üìä Product (2 columns)
   ‚îî‚îÄ Product Key [Number] (6 unique)
   ‚îî‚îÄ Product [Text] (6 unique)

üìä Customer (7 columns)
   ‚îî‚îÄ Customer [Number] (327 unique)
   ‚îî‚îÄ Name [Text] (303 unique)
   ‚îî‚îÄ City [Text] (188 unique)
   ‚îî‚îÄ Postal Code [Number] (208 unique)
   ‚îî‚îÄ State [Text] (37 unique)
   ‚îî‚îÄ Industry ID [Number] (32 unique)
   ‚îî‚îÄ Country/Region [Text] (4 unique)

üìä Industry (2 columns)
   ‚îî‚îÄ ID [Number] (34 unique)
   ‚îî‚îÄ Industry [Text] (34 unique)

üìä Executive (2 columns)
   ‚îî‚îÄ ID [Number] (9 unique)
   ‚îî‚îÄ Name [Text] (9 unique)

üìä State (3 columns)
   ‚îî‚îÄ StateCode [Text] (51 unique)
   ‚îî‚îÄ State [Text] (51 unique)
   ‚îî‚îÄ Region [Text] (5 unique)

============================================================

üîó Inferred Relationships:
   Product Key: Fact <-> Product
   BU Key: Fact <-> BU
   Scenario Key: Fact <-> Scenario
   ID: Industry <-> Executive

============================================================

üìù LLM Context (first 2000 chars):
# Power BI Semantic Model: Customer Profitability Sample

## Overview
This model contains 9 tables that can be queried using DAX.

## Tables and Columns

### 'Fact'
| Column | Type | Cardinality | Sample Range |
|--------|------|-------------|--------------|
| Customer Key | Number | 90 | 1000 to 10153 |
| Product Key | Text | 7 | 10 to 82 |
| BU Key | Number | 26 | 4.0 to 159.0 |
| Scenario Key | Number | 2 | 1 to 2 |
| Revenue | Number | 9805 | -1332982.0 to 1332982.0 |
| Material Costs | Number | 5 | -41975.47 to 41975.47 |
| Labor Costs Variable | Number | 2250 | -662988.25 to 662988.25 |
| Taxes | Unknown | 5 | N/A |
| Rev for Exp Travel | Number | 4240 | -143508.06 to 143508.06 |
| Travel Expenses | Number | 4286 | -21702147.69 to 21702147.69 |
| Cost Third Party | Number | 3458 | -244800.0 to 244800.0 |
| Subscription Revenue | Number | 9 | -25000.0 to 31600.0 |
| YearPeriod | Text | 16 | 201308 to 201411 |

### 'BU'
| Column | Type | Cardinality | Sample Range |
|--------|------|-------------|--------------|
| BU Key | Number | 164 | 1.0 to 164.0 |
| BU | Text | 37 | 23-0 to UT-0 |
| Division | Text | 3 | Core to Minor |
| Executive_id | Number | 8 | 1 to 10 |

### 'Calendar'
| Column | Type | Cardinality | Sample Range |
|--------|------|-------------|--------------|
| YearPeriod | Text | 84 | 200801 to 201412 |
| Year | Number | 7 | 2008 to 2014 |
| Period | Text | 12 | 01 to 12 |
| Date | DateTime | 84 | 2008-01-01T00:00:00 to 2014-12-01T00:00:00 |
| Month | Text | 12 | Apr to Sep |
| QtrID | Text | 28 | 20081 to 20144 |
| Qtr | Text | 4 | Q1 to Q4 |

### 'Scenario'
| Column | Type | Cardinality | Sample Range |
|--------|------|-------------|--------------|
| Scenario Key | Number | 2 | 1 to 2 |
| Scenario | Text | 2 | Actual to Budget |

### 'Product'
| Column | Type | Cardinality | Sample Range |
|--------|------|-------------|--------------|
| Product Key | Number | 6 | 10 to 82 |
| Product | Text | 6 | Doroga to Sova |

### 'Customer'
| Column | Type

## 2. Read Data from a Table

In [7]:
# Read the first 10 rows from the 'Customer' table
df_customers = pbi.read_table(WORKSPACE_NAME, DATASET_NAME, "Customer", top_n=10)
print(f"Retrieved {len(df_customers)} rows from 'Customer' table")
display(df_customers)

Retrieved 10 rows from 'Customer' table

,Customer[Customer],Customer[Name],Customer[City],Customer[Postal Code],Customer[State],Customer[Industry ID],Customer[Country/Region]
0,1023.0,Spade and Archer,Irving,75038.0,TX,31.0,US
1,10000.0,Globo-Chem,Chicago,60601.0,IL,30.0,US
2,10001.0,SNC Directly to America,Westchester,60154.0,IL,30.0,US
3,10002.0,GHG,Plano,75024.0,TX,13.0,US
4,10003.0,ABC Helicopter,Fort Worth,76177.0,TX,34.0,US
5,10004.0,Mr. Sparkle,Toronto,NaN,ON,30.0,CA
6,10005.0,GAM Neuro,South Bend,46617.0,IN,34.0,US
7,10006.0,Sourced Out,Chestbrook,19087.0,PA,26.0,US
8,10007.0,Processes Inc,Foster City,94404.0,CA,30.0,US
9,10008.0,Cadams USA,EI Paso,79998.0,TX,7.0,US

## 3. Execute Custom DAX Query

In [8]:
# Execute a custom DAX query
dax_query = """
EVALUATE
SUMMARIZECOLUMNS(
    'Customer'[State],
    "Customer Count", COUNTROWS('Customer')
)
ORDER BY [Customer Count] DESC
"""

df_result = pbi.execute_dax(WORKSPACE_NAME, DATASET_NAME, dax_query)
print(f"Query returned {len(df_result)} rows")
display(df_result)

Query returned 37 rows

   Customer[State]  [Customer Count]
0               TX                61
1               CA                32
2               VA                26
3               PA                24
4               OH                17
5               IL                16
6               FL                14
7               NY                14
8               NJ                11
9               NC                10
10              MO                10
11              MI                 9
12              AZ                 7
13              ON                 6
14              NE                 5
15              MA                 5
16              MD                 5
17              CO                 5
18              IN                 4
19              MN                 4
20              MB                 4
21              KS                 4
22              WA                 4
23              OK                 4
24              SC                 3
25              WI                 3
26              GA                 3
27              DC                 3
28              LA                 2
29              MS                 2
30              CT                 2
31             NSW                 2
32              DE                 2
33              MX                 1
34              OR                 1
35              AK                 1
36              NV                 1

## 4. Evaluate a Measure

In [9]:
# Evaluate a measure (replace with an actual measure from your model)
# Example: Evaluate [Total Revenue] grouped by State
try:
    df_measure = pbi.evaluate_measure(
        WORKSPACE_NAME, 
        DATASET_NAME, 
        "[Total Revenue]",  # Replace with your measure name
        group_by=["'Customer'[State]"]
    )
    display(df_measure.head(10))
except Exception as e:
    print(f"Note: {e}")
    print("Tip: Replace '[Total Revenue]' with an actual measure from your semantic model")

  Customer[State]      [Result]
0             NaN  1.010850e+06
1              TX  1.842507e+07
2              IL  8.339600e+07
3              ON  8.163074e+05
4              IN  4.328036e+05
5              PA  1.815052e+07
6              CA  1.714299e+06
7              VA  4.755316e+07
8              MO  2.667600e+05
9              MD  2.886703e+06